* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: rgb(216, 1, 134);
  border-radius: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.carrito {
  width: 20px;
  height: 20px;
}

h2, h3 {
  text-align: center;
}

h4 {
  text-align: right;
}

.ingreso {
  text-align: center;
}

button {
  padding: 8px 12px;
  border: 1px solid black;
  background: #e6109e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #c00c82;
}

.link-guardados {
  text-decoration: none;
  background: #e02aa4;
  color: white;
  padding: 8px 12px;
  font-weight: 600;
}

header .controles {
  display: flex;
  gap: 8px;
  align-items: center;
}


@media (max-width: 900px) {
  #series.grid-series { grid-template-columns: repeat(2, 1fr); }
  main { grid-template-columns: 200px 1fr; }
}

@media (max-width: 550px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  header { grid-column: 1 / 3; }
  nav { grid-column: 1 / 2; }
  #principal { grid-column: 1 / 2; }

  #series.grid-series { grid-template-columns: 1fr; }
}



.filtros {
  text-align: center;
  margin: 30px 0;
}

.opciones-filtro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.filtro-btn {
  background-color: #e6109e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.filtro-btn:hover {
  background-color: #c00c82;
}


.promociones {
  padding: 20px;
}

.grid-promos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 15px;
}

.promo-card {
  background-color: #ffeaf5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.promo-card:hover {
  transform: scale(1.05);
}

.promo-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.promo-card h3 {
  margin-top: 10px;
  color: #d10182;
}
