* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------- HEADER ---------------- */
header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: rgb(216, 1, 134);
  border-radius: 10px;
  margin: 10px;
}

.logo {
  width: 100px;
  height: 100px;
}

.carrito {
  width: 20px;
  height: 20px;
}

h1 {
  text-decoration: dashed;
}

h2, h3 { text-align: center; color: black; }
h4 { text-align: right; }
.ingreso { text-align: center; }

button {
  padding: 8px 12px;
  border: 1px solid black;
  background: #e6109e;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #c00c82;
}

header .controles {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* ---------------- RESPONSIVE DE TU PÁGINA ---------------- */
@media (max-width: 900px) {
  #series.grid-series { grid-template-columns: repeat(2, 1fr); }
  main { grid-template-columns: 200px 1fr; }
}

@media (max-width: 550px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
  }

  header { grid-column: 1 / 3; }
  nav { grid-column: 1 / 2; }
  #principal { grid-column: 1 / 2; }

  #series.grid-series { grid-template-columns: 1fr; }
}

/* ---------------- BOTONES DE PERRO Y GATO ---------------- */

/* Contenedor central */
.contenedor-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* BOTONES */
.btn-mascota {
  background: white;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  width: 35vw;         /* Tamaño proporcional */
  height: 45vh;
  max-width: 450px;    /* Límite */
  max-height: 500px;
  transition: 0.3s;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-mascota {
  background: white;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
  width: 40vw;
  max-width: 300px;
  height: auto;          /* clave */
  transition: 0.3s;
  text-align: center;
}

.btn-mascota img {
  width: 100%;
  height: auto;          /* clave: elimina recorte */
  border-radius: 15px;
}




/* Texto */
.btn-mascota h3 {
  font-size: 28px;
  margin-top: 12px;
}

/* Hover */
.btn-mascota:hover {
  transform: scale(1.07);
  border-color: #3498db;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* MÓVIL */
@media (max-width: 768px) {
  .btn-mascota {
    width: 80vw;
    height: 40vh;
  }

  .btn-mascota h3 {
    font-size: 24px;
  }
}
